src/Sysgear/Symfony/Bundles/ServiceBundle/Resources/config/schema/dic/service-1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>

<xsd:schema xmlns="http://www.sysgear.eu/schema/dic/service"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.sysgear.eu/schema/dic/service"
    elementFormDefault="qualified">

  <xsd:element name="jsonrpc" type="service" />

  <xsd:complexType name="service">
    <xsd:attribute name="version" type="xsd:string" />
  </xsd:complexType>
</xsd:schema>
